{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<section class="py-2 py-md-3 py-lg-4 py-xl-5 bg-white">
		<div class="container">
			<div class="row col-8 col-md-6 col-lg-4 mx-auto">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				<form method="post" class="w-100">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<div
						class="mb-4">
						{# <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> #}
						<h1 class="h3 mb-3 font-weight-normal">Bienvenue chez e-commerce</h1>
						<p>S'identifier
						</p>
					</div>

					<div class="form-group">
						<label for="inputEmail">Email address label</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					</div>

					<div class="form-group">
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me" value="remember-me">
							Remember me
						</label>
					</div>

					<button class="btn btn-lg btn-primary btn-block rounded-0" type="submit">Sign in</button>
				</form>
				<small class="form-text text-muted">En passant votre commande, vous acceptez
					<a href="#">les Conditions générales</a>
					de vente d’e-commerce.</small>
				<small class="form-text text-muted">Nouveau chez e-commerce ?
					<a href="{{ path('app_logup') }}">Créer votre compte e-commerce</a>
				</small>
			</div>
		</div>
	</section>

{% endblock %}
